@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --background: #232530;
    --blue: #6e59a9;
    --dark: #3a3a51;
}

html,
body {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
}

* {
    font-family: "Lexend";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    border-radius: 50%;
}